*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.n{
  border: 1px solid #2c2c2c;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.active-link{
  text-decoration: none;
}